<% provide(:title, "Sobre o Eu Recomendo") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Eu Recomendo</title>
  </head>
  <body>
   	<div class="center jumbotron">
      <h1>Bem vindo ao Eu Recomendo</h1>
      <h2>O Eu Recomendo pertence ao grupo Fourteam e tem como proposito o desenvolvimento de uma plataforma web que permita aos usuários 
      em geral e o cliente uma busca autorizada por informações e opiniões sobre produtos e serviços de empresas 
      em determinada cidade que estão sendo recomendadas por melhores qualidades ou preços.</h2>
      <h2>Site da Organização: <a href="http://cin.ufpe.br/~mjps/FourTeam/">FourTeam</a></h2>
  </body>
</html>