<% provide(:title, "Contato") %>
<!DOCTYPE html>
  <head>
    <title><%= yield(:title) %> | Eu Recomendo</title>
  </head>
  <body>
    <h1>Contato</h1>
    <p>
      Para entrar em contato conosto, envie um e-mail para: eurecomendo.si@gmail.com
    </p>
  </body>