<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Eu Recomendo</title>
    <link rel="shortcut icon" type="image/x-icon" href="public/favicon.ico" />
  </head>

  <body>
   	<div><%= link_to image_tag("banner_home2.png", alt: "Rails logo"),
            signup_path  %> 
      <br>
      <br>
      <div align="center">
      <%= link_to "Inscreva-se agora!", 'signup', class: "btn btn-lg btn-primary"%>
      </div>
    </div>
    
    <br><br>
    
    <div id="home_logo">
    <%= link_to image_tag("logo.jpg", alt: "Rails logo"),
            about_path%> 
    </div>
  </body>
</html>