<h1>Editar Comentário</h1>

<%= render 'form' %>
<%= link_to 'Editar', @comentario, class: "btn btn-primary" %>
<%= link_to 'Mostrar', @comentario, class: "btn btn-primary" %> |
<%= link_to 'Apagar', comentarios_path, class: "btn btn-primary" %>
